$rp-dawn-base: hsl(32deg, 57%, 95%);
$rp-dawn-surface: hsl(35deg, 100%, 98%);
$rp-dawn-overlay: hsl(33deg, 43%, 91%);
$rp-dawn-muted: hsl(257deg, 9%, 61%);
$rp-dawn-subtle: hsl(248deg, 12%, 52%);
$rp-dawn-text: hsl(248deg, 19%, 40%);
$rp-dawn-love: hsl(343deg, 35%, 55%);
$rp-dawn-gold: hsl(35deg, 81%, 56%);
$rp-dawn-rose: hsl(3deg, 53%, 67%);
$rp-dawn-pine: hsl(197deg, 53%, 34%);
$rp-dawn-foam: hsl(189deg, 30%, 48%);
$rp-dawn-iris: hsl(268deg, 21%, 57%);
$rp-dawn-highlight-low: hsl(25deg, 35%, 93%);
$rp-dawn-highlight-med: hsl(10deg, 9%, 86%);
$rp-dawn-highlight-high: hsl(315deg, 4%, 80%);