$ibo-color-grey-950: darken($rp-dawn-text, 35%);
$ibo-color-grey-900: darken($rp-dawn-text, 25%);
$ibo-color-grey-850: darken($rp-dawn-text, 20%);
$ibo-color-grey-800: darken($rp-dawn-text, 15%) ;
$ibo-color-grey-700: darken($rp-dawn-text, 10%);
$ibo-color-grey-600: darken($rp-dawn-text, 5%);
$ibo-color-grey-500: $rp-dawn-text;
$ibo-color-grey-400: $rp-dawn-subtle;
$ibo-color-grey-300: lighten($rp-dawn-subtle, 20%);
$ibo-color-grey-200: lighten($rp-dawn-subtle, 28%);
$ibo-color-grey-100: lighten($rp-dawn-subtle, 35%);
$ibo-color-grey-50: lighten($rp-dawn-subtle, 50%);

$ibo-color-white-100: $rp-dawn-surface;
$ibo-color-white-200: lighten($rp-dawn-base, 2%);
$ibo-color-white-300: $rp-dawn-base;
$ibo-color-white-350: lighten($rp-dawn-overlay, 2%);
$ibo-color-white-400: $rp-dawn-overlay;

$ibo-color-red-100: lighten($rp-dawn-love, 30%);
$ibo-color-red-200: lighten($rp-dawn-love, 25%);
$ibo-color-red-300: lighten($rp-dawn-love, 15%);
$ibo-color-red-400: lighten($rp-dawn-love, 8%);
$ibo-color-red-500: lighten($rp-dawn-love, 4%);
$ibo-color-red-600: $rp-dawn-love;
$ibo-color-red-700: darken($rp-dawn-love, 7%);
$ibo-color-red-800: darken($rp-dawn-love, 15%);
$ibo-color-red-900: darken($rp-dawn-love, 30%);

$ibo-color-blue-100: lighten($rp-dawn-pine, 50%);
$ibo-color-blue-200: lighten($rp-dawn-pine, 40%);
$ibo-color-blue-300: lighten($rp-dawn-pine, 28%);
$ibo-color-blue-400: lighten($rp-dawn-pine, 19%);
$ibo-color-blue-500: lighten($rp-dawn-pine, 15%);
$ibo-color-blue-600: lighten($rp-dawn-pine, 10%);
$ibo-color-blue-700: $rp-dawn-pine;
$ibo-color-blue-800: darken($rp-dawn-pine, 7%);
$ibo-color-blue-900: darken($rp-dawn-pine, 15%);

$ibo-color-green-100: lighten($rp-dawn-foam, 35%);
$ibo-color-green-200: lighten($rp-dawn-foam, 29%);
$ibo-color-green-300: lighten($rp-dawn-foam, 20%);
$ibo-color-green-400: lighten($rp-dawn-foam, 15%);
$ibo-color-green-500: lighten($rp-dawn-foam, 8%);
$ibo-color-green-600: $rp-dawn-foam;
$ibo-color-green-700: darken($rp-dawn-foam, 7%);
$ibo-color-green-800: darken($rp-dawn-foam, 15%);
$ibo-color-green-900: darken($rp-dawn-foam, 30%);

$ibo-color-orange-100: lighten($rp-dawn-gold, 30%);
$ibo-color-orange-200: lighten($rp-dawn-gold, 25%);
$ibo-color-orange-300: lighten($rp-dawn-gold, 15%);
$ibo-color-orange-400: lighten($rp-dawn-gold, 8%);
$ibo-color-orange-500: lighten($rp-dawn-gold, 4%);
$ibo-color-orange-600: $rp-dawn-gold;
$ibo-color-orange-700: darken($rp-dawn-gold, 7%);
$ibo-color-orange-800: darken($rp-dawn-gold, 15%);
$ibo-color-orange-900: darken($rp-dawn-gold, 30%);

$ibo-color-primary-50: lighten($rp-dawn-iris, 35%);
$ibo-color-primary-100: lighten($rp-dawn-iris, 30%);
$ibo-color-primary-200: lighten($rp-dawn-iris, 21%);
$ibo-color-primary-300: lighten($rp-dawn-iris, 14%);
$ibo-color-primary-400: lighten($rp-dawn-iris, 7%);
$ibo-color-primary-500: $rp-dawn-iris;
$ibo-color-primary-600: darken($rp-dawn-iris, 7%);
$ibo-color-primary-700: darken($rp-dawn-iris, 14%);
$ibo-color-primary-800: darken($rp-dawn-iris, 20%);;
$ibo-color-primary-900: darken($rp-dawn-iris, 25%);
$ibo-color-primary-950: darken($rp-dawn-iris, 35%);

$ibo-color-love-500: $rp-dawn-love;

$ibo-color-gold-500: $rp-dawn-gold;

$ibo-color-rose-500: $rp-dawn-rose;

$ibo-color-pine-500: $rp-dawn-pine;

$ibo-color-foam-500: $rp-dawn-foam;

$ibo-color-iris-500: $rp-dawn-iris;

$ibo-color-highlight-low-500: $rp-dawn-highlight-low;

$ibo-color-highlight-med-500: $rp-dawn-highlight-med;

$ibo-color-highlight-high-500: $rp-dawn-highlight-high;

$ibo-color-muted-500: $rp-dawn-muted;

$ibo-datatable--row--background-color--is-hover: $ibo-color-highlight-med-500;
$ibo-vendors-datatables--row--background-color--is-even: $ibo-color-white-300;
$ibo-fieldset--legend--border-bottom-color: $ibo-color-grey-400;
$ibo-has-description--color: $ibo-color-muted-500;

$ibo-popover-menu--item--hover-background-color: $ibo-color-highlight-low-500;